.board {
    max-width: 800px;
    .row {
        display: flex;

        .cell {
            flex: 1 0 0;
            &:before { /* adjust height according to width */
                content: '';
                display: block;
                padding-top: 100%;
                float: left;
            }

            &.playable {
                border: 2px dotted yellow;
            }
        }

        .cell { background: #ddd; }
        &:nth-child(even) .cell:nth-child(even),
        &:nth-child(odd) .cell:nth-child(odd) {
            background: gray;
        }
    }
}
